$orange: #FF4200;
$white: #fff;
$halfWhite: #f4f4f4;
$doubleWhite: #f7f7f7;
$mediumWhite: #d7bfbf;
$halfGreen: #83aa75;
$mediumGreen: #00a651;
$doubleGreen: #49743f;
$yellow: #aba000;
$gray: #666;
$halfGray: #333;